                                      /* introduction menu box */

#menu-button-i {
  background-color: rgba(0,0,0,.5);
  border-style: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
}

#menu-image-i {
  background-image: url("media/menububble1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2vh;
  top: 10px;
  left: 100px;
  display: none;
}

#menu-box-i {
  display: none;
  border: 1px solid blue;
  height: auto;
  width: 40vh;
  font-size: 10vh;


}

#audioPlayer-i {
  height: 5vh;
  width: 30vh;
  /* background-color: red; */
}


                                              /* first page menu box */


#menu-button-1 {
  background-color: rgba(0,0,0,.5);
  border-style: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
}

#menu-image-1 {
  background-image: url("media/menububble1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2vh;
  top: 10px;
  left: 100px;
  display: none;
}

#menu-box-1 {
  display: none;
  border: 1px solid blue;
  height: auto;
  width: 40vh;
  font-size: 10vh;


}

#audioPlayer-1 {
  height: 5vh;
  width: 30vh;
  /* background-color: red; */
}


                                    /* second page menu box */

#menu-button-2 {
  background-color: rgba(0,0,0,.5);
  border-style: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
}

#menu-image-2 {
  background-image: url("media/menububble1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2vh;
  top: 10px;
  left: 100px;
  display: none;
}

#menu-box-2 {
  display: none;
  border: 1px solid blue;
  height: auto;
  width: 40vh;
  font-size: 10vh;


}

#audioPlayer-2 {
  height: 5vh;
  width: 30vh;
  /* background-color: red; */
}

                                              /* third page menu box */

#menu-button-3 {
  background-color: rgba(0,0,0,.5);
  border-style: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
}

#menu-image-3 {
  background-image: url("media/menububble1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2vh;
  top: 10px;
  left: 100px;
  display: none;
}

#menu-box-3 {
  display: none;
  border: 1px solid blue;
  height: auto;
  width: 40vh;
  font-size: 10vh;


}

#audioPlayer-3 {
  height: 5vh;
  width: 30vh;
  /* background-color: red; */
}

                                                  /* fourth page menu box */

#menu-button-4 {
  background-color: rgba(0,0,0,.5);
  border-style: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
}

#menu-image-4 {
  background-image: url("media/menububble1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2vh;
  top: 10px;
  left: 100px;
  display: none;
}

#menu-box-4 {
  display: none;
  border: 1px solid blue;
  height: auto;
  width: 40vh;
  font-size: 10vh;


}

#audioPlayer-4 {
  height: 5vh;
  width: 30vh;
  /* background-color: red; */
}


                                                /* fifth page menu box */

#menu-button-5 {
  background-color: rgba(0,0,0,.5);
  border-style: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
}

#menu-image-5 {
  background-image: url("media/menububble1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2vh;
  top: 10px;
  left: 100px;
  display: none;
}

#menu-box-5 {
  display: none;
  border: 1px solid blue;
  height: auto;
  width: 40vh;
  font-size: 10vh;


}

#audioPlayer-5 {
  height: 5vh;
  width: 30vh;
  /* background-color: red; */
}
